*filter
:INPUT DROP [6:3456]
:FORWARD DROP [0:0]
:OUTPUT DROP [0:0]
:chain-incoming-ssh - [0:0]
:chain-outgoing-services - [0:0]
:chain-states - [0:0]

#### GENERAL
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -p icmp -j DROP
-A INPUT -m conntrack --ctstate INVALID -j DROP

#### ALLOW ACCESS INPUT
-A INPUT -j chain-states
-A INPUT -p tcp -m tcp --dport 22 -j chain-incoming-ssh

#### ALLOW ACCESS OUTGOING
-A OUTPUT -o lo -j ACCEPT
-A OUTPUT -j chain-states
-A OUTPUT -j chain-outgoing-services


### CHAIN INCOMING WHITELIST
-A chain-incoming-ssh -s {{iptables_ssh_access_ip_allow}} -j ACCEPT
-A chain-incoming-ssh -j DROP

### CHAIN OUTGOING WHITELIST
-A chain-outgoing-services -p tcp -m tcp --dport 53 -j ACCEPT
-A chain-outgoing-services -p udp -m udp --dport 53 -j ACCEPT
-A chain-outgoing-services -p tcp -m tcp --dport 123 -j ACCEPT
-A chain-outgoing-services -p udp -m udp --dport 123 -j ACCEPT
-A chain-outgoing-services -p tcp -m tcp --dport 80 -j ACCEPT
-A chain-outgoing-services -p tcp -m tcp --dport 443 -j ACCEPT
-A chain-outgoing-services -p tcp -m tcp --dport 22 -j ACCEPT
-A chain-outgoing-services -p icmp -j ACCEPT
-A chain-outgoing-services -j DROP
-A chain-states -p tcp -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A chain-states -p udp -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A chain-states -p icmp -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A chain-states -j RETURN
COMMIT
